<ion-header class="text-center">

  <ion-toolbar class="flex" [color]="backgroundColor()">
    @if (!isMenu()) {
    <ion-buttons id="principal-menu" slot="start">
      <ion-button fill="clear"  (click)="openMenu('principal-menu')">
        <ion-icon slot="end" name="filter-outline" size="large" color="warning"></ion-icon>
        <p class="productButton" color="warning" >PRODUCTOS</p>
      </ion-button>
    </ion-buttons>

    <ion-buttons id="carrito-menu" slot="end" >
      @if(login()){
        <ion-button [fill]="logOutButton ? 'clear' : 'fill'" shape="round" color="warning" (click)="logOut()">
          <ion-icon [slot]="logOutButton ? 'end' : 'icon-only'" name="log-out-outline" size="large" class="ml-10 text-base" />
          <p class="productButton" >Cerrar Sesion</p>
        </ion-button>

        <ion-button fill="clear" style="position: relative;" (click)="openCart('carrito-menu')">
          <div [ngClass]="cartState() ? 'cart-point' : 'empty-cart'"></div>
          <ion-icon name="cart-outline" color="warning"></ion-icon>
        </ion-button>
      }@else {
        <ion-button [fill]="logOutButton ? 'clear' : 'fill'" shape="round" color="warning" (click)="goToAdmin()">
          <ion-icon [slot]="logOutButton ? 'end' : 'icon-only'" name="log-in-outline" size="large" class="ml-10 text-base" />
          <p class="productButton" >Iniciar Sesion</p>
        </ion-button>
      }
    </ion-buttons>
    }

    <div class="div-container">
      @if (isMenu()) {
      <div class="flex">
        <ion-button (click)="closeMenu()" fill="clear" color="danger">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
        <ion-title style="--background: red">{{title()}}</ion-title>
        <ion-button fill="clear" color="primary">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-button>
      </div>
      }@else {
      <ion-img src="assets/logos/angelita-light-min.jpg" class="imageLogo" />
      }
    </div>

  </ion-toolbar>
</ion-header>