<ion-content [fullscreen]="true">
  <form class="ion-margin" style="display: flex; flex-direction: column; width: 100%; margin: 10% auto;"
    [formGroup]="loginForm">
    <img src="assets/logos/angelita-transparente.png" alt="logo" style="width: 30%; margin: 0 auto;">
    <div style="display: flex; flex-direction: column; width: 80%; margin: 30px auto;">

      <!-- Email -->
      <app-custom-input 
      [iconName]="'person-outline'"
      [inputType]="'email'"
      [inputLabel]="'Usuario'"
      [formControlValue]="loginForm.controls.email"
      [isPassword]="false"
      />

      <!-- Password -->
      <app-custom-input 
      [iconName]="'lock-closed-outline'"
      [inputType]="'password'"
      [inputLabel]="'Contraseña'"
      [formControlValue]="loginForm.controls.password"
      [isPassword]="true"
      />

    </div>

    <!-- Validaciones de correo y contraseña -->

    @if(loginForm.controls.email.errors && loginForm.controls.email.touched){
    <app-validator-form [slot]="'start'" [message]="'El correo es obligatorio'"
      [showMessage]="loginForm.controls.email.errors?.['required']" />

    <app-validator-form [slot]="'start'" [message]="'Verifica el correo ingresado.'"
      [showMessage]="loginForm.controls.email.errors?.['email']" />
    }

    @if (loginForm.controls.password.errors && loginForm.controls.password.touched) {
    <app-validator-form [slot]="'start'" [message]="'No olvides ingresar la contraseña.'"
      [showMessage]="loginForm.controls.password.errors?.['required']" />

    <app-validator-form [slot]="'start'" [message]="'No olvides ingresar la contraseña.'"
      [showMessage]="loginForm.controls.password.errors?.['touched']" />
    }

    <ion-button expand="block" shape="round" type="submit" color="warning" style="width: 40%; margin: 10px auto;"
      (click)="login()" [disabled]="this.loginForm.invalid">
      INGRESAR
    </ion-button>

    <ion-button (click)="goToHome()" expand="block" fill="clear" shape="round" style="width: 40%; margin: 10px auto;">
      Cancelar
    </ion-button>
    
  </form>
</ion-content>