.productList{
    display: flex;
}

ion-content::part(scroll){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-grid{
    margin-top: 2rem;
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    gap: 10px;
    transition: all .2s ease-out;

}

.product-grid-filter{
    margin-top: 2rem;
    width: 45%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    gap: 10px;
    transition: all .2s ease-out;
}

@media (max-width: 768px){
    .product-grid{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 95%;
    }
}