<!-- Spinner -->
<ngx-spinner type="square-jelly-box"/>

<!-- Inicio Header -->
@if (!isMobile()) {
<app-header />
}
<!-- Fin Header -->

<!-- Menu de la aplicacion -->
<app-menu [menuId]="'principal-menu'" [isPrincipal]="true" [side]="'start'" />
<app-menu [menuId]="'carrito-menu'" [isPrincipal]="false" [side]="'end'" />
<!-- Fin del Menu -->

<ion-content style="--background: url(/assets/background.png);">
  
  @if (visibleElement()) {
  <div class="product-grid">

    <!-- Modificar con un FOR, para la lista de productos -->
    @for (product of productList(); track $index) {
      <app-product-item
      [productName]="product.name"
      [productPrice]="product.price"
      [productSubType]="product.subType"
      [productDescription]="product.description"
      [productPicture]="product.picture"
      />
    }
  </div>
  }

  <!-- Crear nuevo prouducto -->
  @if (adminUser()) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="warning" (click)="addUpdateProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>


<!-- <ion-router-outlet id="principal-menu" main></ion-router-outlet> -->

@if (isMobile()) {
<app-footer />
}