<ion-menu [menuId]="menuId()" [contentId]="menuId()" [side]="side()">

  @if (isPrincipal()) {
  <app-header [isMenu]="true" [title]="'Productos'" [backgroundColor]="'warning'"
    [closeMenuButton]="'principal-menu'" />
  <ion-content class="ion-padding" color="warning">
    @if (userName()) {
    <ion-item color="warning">
      <div class="flex flex-col m-auto">
        @if (userPhoto()) {
        <img [src]="userPhoto()" class="m-auto rounded-full" />
        }
        <ion-label class="m-auto font-bold text-black">¡¡ Hola {{userName()}} !!</ion-label>
        <ion-button (click)="goToAdrress()" expand="block" shape="round" color="danger" class="mt-4">
          Dirección de entrega
        </ion-button>
      </div>
    </ion-item>
    }
    <ion-title class="mt-4 mb-2 text-center">
      Tipo
      <hr>
    </ion-title>
    @for (product of productTypeList(); track $index) {
    <ion-item color="warning">
      <ion-checkbox labelPlacement="start" (ionChange)="status($event, product.type)">{{product.type}}</ion-checkbox>
    </ion-item>
    }
    <ion-title class="mt-16 mb-2 text-center">
      Precio
      <hr>
    </ion-title>
    <ion-item class="flex justify-between" color="warning">
      <ion-input label="Desde:" labelPlacement="floating" type="number" placeholder="$00.00">
      </ion-input>
    </ion-item>
    <ion-item color="warning">
      <ion-input label="Hasta:" labelPlacement="floating" type="number" placeholder="$99.99">
      </ion-input>
    </ion-item>
  </ion-content>
  <app-footer [isMenu]="true" />
  }@else{
  <app-header [isMenu]="true" [title]="'Carrito'" [backgroundColor]="'warning'" [closeMenuButton]="'carrito-menu'" />
  <ion-content class="ion-padding" color="warning">
    @for (product of productInCart(); track $index) {

    <ion-card>
      <img alt={{product.id}} src={{product.picture}} style="width: 255px; height: 177px;"/>
      <ion-card-header>
        <ion-card-title>Producto: {{product.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
       Tipo: {{product.subType.type}} - Precio: {{product.price}}
      </ion-card-content>
      <ion-button (click)="removeFromCart(product.id)" class="flex m-auto" fill="clear" color="danger">
        <ion-icon slot="icon-only" name="close-circle-outline" ></ion-icon>
      </ion-button>
    </ion-card>
    }
  </ion-content>
  <app-footer [isCart]="true" />
  }
</ion-menu>