<ion-card>

  @if (adminUser()) {
    <ion-buttons style="display: flex; justify-content: space-around; height: 50px;">
      <ion-button color="success" fill="solid" shape="round">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar
      </ion-button>
      <ion-button color="danger" fill="solid" shape="round">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar
      </ion-button>
    </ion-buttons>
  }

  <app-carrousel />
  
  <ion-card-header>
    <div style="display: flex; justify-content: space-between;">
      <ion-card-title>Nombre del producto</ion-card-title>
      <ion-card-title>$4.000,00</ion-card-title>
    </div>
    <ion-card-subtitle>Sub Tipo del producto</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Descripcion del producto
  </ion-card-content>

  <ion-buttons class="flex justify-around mb-2">
    <ion-button fill="outline" color="primary" shape="round">Mas detalles</ion-button>
    <ion-button fill="outline" color="primary" shape="round">Agregar al carrito</ion-button>
  </ion-buttons>

</ion-card>