<ion-card>

  @if (adminUser()) {
    <ion-buttons class="flex justify-around h-12">
      <ion-button color="success" fill="clear">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar
      </ion-button>
      <ion-button color="danger" fill="clear">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar
      </ion-button>
    </ion-buttons>
  }

  <app-carrousel 
  [productPicture]="productPicture()"
  />
  
  <ion-card-header>
    <div class="flex justify-between">
      <ion-card-title>{{productName()}}</ion-card-title>
      <ion-card-title>{{productPrice()}}</ion-card-title>
    </div>
    <ion-card-subtitle>{{productSubType()}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{productDescription()}}
  </ion-card-content>

  <ion-buttons class="flex justify-around mb-2">
    <ion-button fill="clear" color="dark">Mas detalles</ion-button>
    <ion-button fill="clear" color="dark">Agregar al carrito</ion-button>
  </ion-buttons>

</ion-card>