.description{
    width: 360px; 
    height: 110px;
    margin: 0 auto;
}

.product-image{
    width: 95px;
    margin: 0 auto;
    object-fit: cover;
}

@media (max-width: 768px){
    .description{
        width: 422px; 
        height: 150px;
    }

    .product-image{
        width: 135px;
        margin: 0 auto;
        object-fit: cover;
    }
}