<form [formGroup]="productForm" class="relative w-full h-full">
  <ngx-spinner type="square-jelly-box"/>
  <img src="../../../../assets/logos/angelita-light-min.jpg" alt="Imagen de producto" class="w-2/5 m-auto mb-8 mt-2">

  <div class="flex flex-col m-auto">
    @if (productForm.value.picture) {
    <img [src]="productForm.value.picture" class="product-image" />
    }@else {
    <ion-icon name="image-outline" style="font-size: 200px; opacity: 30%; margin: 0 auto;"></ion-icon>
    }
    <ion-button (click)="takePicture()" shape="round" size="small" style="width: 250px; margin: 5px auto;">
      PORTADA DE PRODUCTO
    </ion-button>

    <!-- Multipcker para varias Fotos -->
    <ion-button shape="round" size="small" style="width: 250px; margin: 5px auto;">
      FOTOS CONTENIDO
    </ion-button>
  </div>


  <app-custom-input [isPassword]="false" [inputLabel]="'Nombre de producto'" [inputType]="'text'" [iconName]="'add'"
    [formControlValue]="productForm.controls.name" />

  <ion-item class="customInput">
    <ion-icon slot="start" name="add" color="warning"></ion-icon>
    <ion-select multiple="false" label="Selecciona un tipo" labelPlacement="floating" color="warning" [formControl]="productForm.controls.subType">
      @for (type of getSubTypes(); track $index) {
        <ion-select-option value="{{type.type}}">{{type.type}}</ion-select-option>
      }
    </ion-select>
  </ion-item>  

  <app-custom-input [isPassword]="false" [inputLabel]="'Precio'" [inputType]="'number'" [iconName]="'add'"
    [formControlValue]="productForm.controls.price" />

  <ion-item class="description">
    <ion-icon name="list-outline" color="warning" class="mr-8"></ion-icon>
    <ion-textarea labelPlacement="floating" label="Descripcion" color="warning"
      style="width: 360px; height: 99px; margin: 0 auto;" [formControl]="productForm.controls.description" />
  </ion-item>

  @if(productForm.controls.name.errors && productForm.controls.name.touched){
  <app-validator-form [slot]="'start'" [message]="'El producto debe tener nombre'"
    [showMessage]="productForm.controls.name.errors?.['required']" />
  }

  @if (productForm.controls.subType.errors && productForm.controls.subType.touched) {
  <app-validator-form [slot]="'start'" [message]="'¿Cual es el subtipo del producto?'"
    [showMessage]="productForm.controls.subType.errors?.['required']" />
  }

  @if (productForm.controls.price.errors && productForm.controls.price.touched) {
  <app-validator-form [slot]="'start'" [message]="'Se debe ingresar un precio'"
    [showMessage]="productForm.controls.price.errors?.['required']" />
  }

  @if (productForm.controls.description.errors && productForm.controls.description.touched) {
  <app-validator-form [slot]="'start'" [message]="'Ingresa la descripcion del producto'"
    [showMessage]="productForm.controls.description.errors?.['required']" />
  }



  <div class="absolute bottom-0 w-full flex justify-around">
    <ion-button fill="clear" type="submit" (click)="uploadProduct()" [disabled]="productForm.invalid">
      <ion-icon slot="icon-only" name="checkmark-circle" color="primary" size="large"></ion-icon>
      Guardar
    </ion-button>
    <ion-button fill="clear" (click)="cancel()">
      <ion-icon slot="icon-only" name="close-circle" color="danger" size="large"></ion-icon>
      Cancelar
    </ion-button>
  </div>

</form>